
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-post-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-post-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-post-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}

.btn-size {
  width: 20px;
}

.nav-item:hover {
  color: #fff;
  background-color: #0073e6;
  padding: 5px;
  border-radius: 2px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px #ccc solid;
  max-width: 1100px;
  margin: 10px auto;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.demo img{
  max-width: 60%;
  max-height: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 30px;
}

.demo p {
  margin: 10px;
}


.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
  background-color: #0073e6;
}

.flex-container button {
margin: 10px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.content-div {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.content-div img {
  max-width: 100%;
  height: auto;
}