body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #005f99;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #003366;
    margin-bottom: 5px;
}

.form-group input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b3d1ff;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #005bb5;
}

/* */

.container {
    background-color: #e6f2ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b3d1ff;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0073e6;
    color: white;
}

button.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #cc0000;
}



/*#region*/tela-home 
/*#endregion*/

.container-post-header {
    display: flex;
}

.container-post-header header {
    background-color: #10274A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 20px;
    padding: 0 80px;
    /* margin top, right, bot, left */
    /* padding top,right bot, left */
}

.container-post-header a {
    text-decoration: none;
    color: #FFFFFF;
}

.container-post-nav {
    background-color: #FFFFFF;
    display: flex;
    padding: 10px 50px;
}    

.nav-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.container-post-nav a {
    text-decoration: none;
    color: #555a6f;
    font-size: 18px;
}

.nav-items li {
    margin: 10px 25px 0 0;
    
}

.container-post-nav .btn {
    padding: 10px 20px;
    background-color: #FA6357;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.container-post-nav .btn:hover {
    background-color: #0056b3;
}

.container-posts {
    padding: 9px 50px;
    background-color: #FFFFFF;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.15);
}

.container-posts p {
    margin: 0 0 20px 0;
    font-size: 32px;
    color: #111B37;
    font-weight: bold;
}

.content-footer {
    background-color: #222;
    text-align: center;
    position: fixed;
    /* bottom: 0; */
}

.content-footer .card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px 50px 50px;
    max-width: 600px;
    margin: 0 auto;
}

.content-footer a {
    background-color: #10274A;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.footer-blue::after {
    width: 100%;
    bottom: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #ff4d4d;
}