body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*#region*/
tela-home 
/*#endregion*/

.container-post-header {
  display: flex;
}

.container-post-header header {
  background-color: #10274a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
  padding: 0 80px;
  /* margin top, right, bot, left */
  /* padding top,right bot, left */
}

.container-post-header a {
  text-decoration: none;
  color: #ffffff;
}

.container-post-nav {
  background-color: #ffffff;
  display: flex;
  padding: 10px 50px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.container-post-nav a {
  text-decoration: none;
  color: #555a6f;
  font-size: 18px;
}

.nav-items li {
  margin: 10px 25px 0 0;
}

.container-post-nav .btn {
  padding: 10px 20px;
  background-color: #fa6357;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}

.container-post-nav .btn:hover {
  background-color: #0056b3;
}

.container-posts {
  padding: 9px 50px;
  background-color: #ffffff;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.15);
}

.container-posts p {
  margin: 0 0 20px 0;
  font-size: 32px;
  color: #111b37;
  font-weight: bold;
}


.content {
  /* Calcula o quanto o conteúdo vai ocupar para reservar um espaço para o footer*/
  min-height: calc(100vh - 150px);
}

.footer {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  background-color: #00234b; 
  height: 150px;
  width: 100%;
}

.footer-card {
  background-color: #ffffff;
  padding: 35px;
  max-width: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  /* Aqui é feito posicionamento do card na camada de cima do footer e define quanto pixels ele vai ficar relativamente posicionado em relação ao footer */
  position: absolute;
  top: -90px;
}

.footer-card h2 {
  margin: 0;
  font-size: 24px;
  color: #343565;
}

.footer-card p {
  margin: 10px 0;
  color: #ADAEB1;
  font-size: 16px;
}

.footer-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00234b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 6px;
}
